body {
    font-family: helvetica;
    background-color: #EEEEEE;
}

#container {
    width: 100%;
    display: block;
}

.center {
    display: inline-block;
}

canvas#searchSpace {
    display: block;
    box-sizing: border-box;
    
    border: 5px solid #000;
    background-color: #EEEEEE;
}

input.button {
    display: inline-block;
}